/*--------------------------------------------------------------
FreeStore - Footer None Styling
--------------------------------------------------------------*/

.site-footer-none {
    
}

.site-footer-none .site-footer-bottom-bar {
    background-color: rgb(0, 0, 0);
    padding: 8px 0 8px;
    color: #FFF;
}