/*--------------------------------------------------------------
FreeStore - Footer Social Styling
--------------------------------------------------------------*/

.site-footer-social {
    border-top: 3px solid #000000;
    text-align: center;
    color: #000;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 30px;
}

.site-footer-icons {
    padding: 90px 0 90px;
}

.footer-social-icon {
    display: inline-block;
    font-size: 26px;
    line-height: 14px;
    margin: 0 14px 15px;
    text-align: center;
    color: inherit;
}
.site-footer-icon-text {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.site-footer-social-ad {
    font-size: 15px;
    padding: 4px 0 4px;
}
.site-footer-social-ad .fa {
    font-size: 16px;
    margin: 0 2px 0 0;
}

.site-footer-social-copy {
    font-size: 11px;
    margin: 5px 0 0;
}

.site-footer-bottom-bar {
    background-color: #000000;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.03) inset;
    padding: 7px 0 10px;
    color: #FFF;
    text-align: center;
}

@media only screen and (max-width: 960px) {
    
    .site-footer-icons {
        padding: 70px 0 60px;
    }
    .footer-social-icon {
        font-size: 60px;
        line-height: 14px;
        margin: 0 20px 15px;
    }
    .footer-social-icon i {
        font-size: 60px;
    }
    
}

@media only screen and (max-width: 782px) {
    
    .site-footer-icons {
        padding: 60px 0 45px;
    }
    .footer-social-icon {
        font-size: 40px;
        line-height: 24px;
        margin: 0 10px 15px;
    }
    .footer-social-icon i {
        font-size: 40px;
    }
    
}